el/stylesheet.css linguist-vendored
pl/stylesheet.css linguist-vendored
*.xml linguist-detectable=true
*.html linguist-detectable=false  
*.xhtml linguist-detectable=true
*.xhtml linguist-language=XML