/* ==========================================================================
   Base styles: Definitions, Browser Reset
   ========================================================================== */
:root {
	/* Colour definitions; courtesy of https://love.holllo.cc/ */ 
	--foreground-primary: #F2EFFF;
	--foreground-secondary: #E6DEFF;
	--background-primary: #1F1731;
	--background-secondary: #2A2041;
	--accent-red: #F99FB1;
	--accent-orange: #FAA56C;
	--accent-yellow: #D2B83A;
	--accent-lime: #96C839;
	--accent-green: #3BD18A;
	--accent-minty: #3ECDBF;
	--accent-seablue: #41C8E5;
	--accent-blurple: #98B9F8;
	--accent-lavender: #D5A6F8;
	--accent-pink: #F99ADD;
	--gray-1: #E2E2E2;
	--gray-2: #C6C6C6;
	--gray-3: #ABABAB;

	/* Reset some default styles */
	body,
	h1,
	h2,
	h3,
	p,
	ul,
	ol,
	li,
	figure,
	figcaption,
	blockquote,
	dl,
	dd,
	table,
	th,
	td {
		margin: 0;
		padding: 0;
	}

	background-color: var(--background-secondary);
}

/* ==========================================================================
   Base styles: Header (h1, menu)
   ========================================================================== */
.header {
    background-color: var(--background-primary);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

h1 {
    color: var(--foreground-primary);
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu a {
    text-decoration: none;
    color: var(--foreground-primary);
    margin-top: 10px;
	margin-bottom: 10px;
    padding: 0.65em;
}

/* ==========================================================================
   Base styles: Main Content
   ========================================================================== */
.main {
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);
	border: 10px;
	border-color: var(--foreground-secondary);
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.center {
	text-align: center;
}

.base-flexbox {
	width: 60%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 30px;
	border: 1px;
	border-style: hidden hidden solid;
	border-color: var(--foreground-secondary);
  }
  
.base-flexbox-image {
	max-width: 50%;
	height: auto;
	align-self: center;
  }
  
.base-flexbox-text {
	text-align: center;
  }











/* ==========================================================================
   Alternate styles: Desktops, Laptops, Tablets
   ========================================================================== */
@media screen and (orientation: landscape) and (max-width: 1999px) {
	/* ==========================================================================
       Alternate styles: Header (h1, menu)
   	   ========================================================================== */
    h1 {
        text-align: left; 
    }

    .menu {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        margin-top: 0;
    }

	/* ==========================================================================
       Alternate styles: Main Content
   	   ========================================================================== */
		  .base-flexbox {
			flex-direction: row;
			align-items: center;
		  }
		
		  .base-flexbox-image {
			max-width: 49%;
		  }
		
		  .base-flexbox-text {
			padding-left: 1%;
			text-align: left; /* Align text to the left in landscape mode */
		  }
		}

/* ==========================================================================
   Alternate styles: 2K, 4K, Ultrawide (Landscape)
   ========================================================================== */
   @media screen and (orientation: landscape) and (min-width: 2000px) {
	/* ==========================================================================
       Alternate styles: Header (h1, menu)
   	   ========================================================================== */
    h1 {
        text-align: left; 
    }

    .menu {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        margin-top: 0;
    }

	/* ==========================================================================
       Alternate styles: Main Content
   	   ========================================================================== */
		  .base-flexbox {
			flex-direction: row;
			align-items: center;
			width: 65%;
		  }
		
		  .base-flexbox-image {
			max-width: 35%;
		  }
		
		  .base-flexbox-text {
			padding-left: 1%;
			text-align: left; /* Align text to the left in landscape mode */
		  }
		}
		.main {
			margin-left: 10%;
			margin-right: 10%;
		}

/* ==========================================================================
   Alternate styles: Phones, Tablets
   ========================================================================== */
@media screen and (orientation: portrait) {

	/* ==========================================================================
       Alternate styles: Header (h1, menu)
   	   ========================================================================== */
    .header {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
        margin-top: 10px;
    }

    .menu a {
        margin: 5px; 
    }
	/* ==========================================================================
       Alternate styles: Main Content
   	   ========================================================================== */
		  .base-flexbox {
			align-items: center; /* Horizontally align to the center */
		  }
		
		  .base-flexbox-image {
			max-width: 100%; /* Full width in portrait mode */
		  }
}

